<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>UserManageSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CheckServlet</display-name>
    <servlet-name>CheckServlet</servlet-name>
    <servlet-class>com.hqj.controller.CheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckServlet</servlet-name>
    <url-pattern>/CheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserManage</display-name>
    <servlet-name>UserManage</servlet-name>
    <servlet-class>com.hqj.controller.UserManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserManage</servlet-name>
    <url-pattern>/UserManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileBean</display-name>
    <servlet-name>FileBean</servlet-name>
    <servlet-class>com.hqj.dfsBean.FileBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileBean</servlet-name>
    <url-pattern>/FileBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFileServlet</display-name>
    <servlet-name>DeleteFileServlet</servlet-name>
    <servlet-class>com.hqj.hdfscontrol.DeleteFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFileServlet</servlet-name>
    <url-pattern>/DeleteFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadHDFSServlet</display-name>
    <servlet-name>DownloadHDFSServlet</servlet-name>
    <servlet-class>com.hqj.hdfscontrol.DownloadHDFSServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadHDFSServlet</servlet-name>
    <url-pattern>/DownloadHDFSServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListHDFSFilesServlet</display-name>
    <servlet-name>ListHDFSFilesServlet</servlet-name>
    <servlet-class>com.hqj.hdfscontrol.ListHDFSFilesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListHDFSFilesServlet</servlet-name>
    <url-pattern>/ListHDFSFilesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadHDFSServlet</display-name>
    <servlet-name>UploadHDFSServlet</servlet-name>
    <servlet-class>com.hqj.hdfscontrol.UploadHDFSServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadHDFSServlet</servlet-name>
    <url-pattern>/UploadHDFSServlet</url-pattern>
  </servlet-mapping>
</web-app>